#myCanvas {
    background: lightgray;
    display: block;
    margin: 0 auto;
    width: 900px;
    height: 700px;
}

html{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-image: url('../images//maplemushrooms.jpg');
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
