
html{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    min-width: 1100px;
    min-height: 750px;
    background-image: url('../images//maplemushrooms.jpg');
    display:grid;
    grid-template-columns: 20% 1fr 20%;
    margin: 0;

}



#canvas-section{
    grid-column: 2/ 3;
    height: 100%;
    display: grid;
    grid-template-rows: 130px auto auto;
}

#title{
    grid-row: 1 / 2;
    position: relative;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#title > img {
    width: 150px;
    height: 150px;
    margin-right: 380px;
    position: relative;
    bottom: 20px;
}

#title > h1 {
    font-family: fantasy;
    font-size: 45px;
    color: black;
    font-weight: bold;
    position: absolute;
    margin: 0;
    top: 65px;
    text-shadow: 3px 1px white;
}
#myCanvas {
    background: lightgray;
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#player-screen{
    position: relative;
}

#pause-screen{
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: black;
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}



#personal-links{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

#personal-links > a {
    margin: 0 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

#personal-links > a > i {
    font-size: 20px;
}

#personal-links > a {
    font-size: 12px;
}

#timer-points-section{
    height: 100%;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 130px auto;
    font-size: 30px;
    font-family: futura;
    transition: font-size 0.3s linear;
}

#timer-points-section * {
    overflow: hidden;
}

#timer-points-section > div{
    grid-row: 2/ 3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#timer-points-section > div > div {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


#timer-section{
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    width: 75%;
    height: 15%;
    max-height: 125px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer-section > span{
    margin:0 5px;
}

#point-section{
    /* margin-top: 50px; */
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    width: 75%;
    height: 15%;
    max-height: 125px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#point-section > span{
      margin: 0 5px;
}

#points{
    color: green;
}

#instruction-section{
    /* margin-top: 50px; */
    width: 75%;
    height: 50%;
    background: rgba(255, 255, 255, 0.95);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* animation-name: oscillate; */
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes oscillate{
    0% {margin-top: 50px}
    50% {margin-top: 45px} 
    100%{margin-top: 50px}   
}


#instruction-section * {
    overflow: hidden;
}

#instruction-section > h2 {
    font-weight:normal;
    font-size: 26px;
    font-family: futura;
    margin: 10px;
    overflow: initial;
    transition: all 0.3s linear;
}

#instruction-section > article{
    display:flex;
    flex-direction: column;
    margin:0 10px 10px 10px;
}

#instruction-section > article > ul > li{
     font-size: 12px;    
}


#instruction-section ul {
    margin: 0;
    padding: 0;
    list-style: disc;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 400px;
}

#instruction-section  ul > li{
    background: rgba(173, 217, 237, 0.5);
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
}

#instruction-section  ul > li > span{
    display: block;
    margin: 5px 10px;
    font-size: 12px;
    font-family: fantasy;
    transition: all 0.3s linear;
    text-shadow: 2px 1px white;
}

#user-controls-section{
    grid-column: 3 /4;
    display: grid;
    grid-template-rows: 130px auto
}

#user-controls-section > div{
    grid-row: 2 / 3;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#user-controls-section > div > div {
    width: 75%;
    height: 85%;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#button-grids {
    margin-top: 20px;
    height: 240px;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
    width: 100%;

}

#button-grids > button {
    margin: 0 auto;
    width: 60%;
    height: 50px;
    font-size: 25px;
    color: white;
    background: rgb(90, 90, 252);
    border-radius: 5px;
}

#button-grids > button:hover{
    outline: none;
    background: rgb(132, 132, 247);
    font-size: 28px;
    width: 62%;
    height: 55px;
}

#pause-button{
    grid-row: 1/2;
}


#mute-button{
    grid-row: 2/3;
}

#reset-button{
    grid-row: 3/4;
}



#button-grids > button:hover{
    cursor: pointer;
    outline: none;
}

#button-grids > button:focus{
    outline: none;
}



#not-important {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

#not-important > span {
    width: 80%;
    margin: 10px;
    font-style: italic;
    font-family: futura;
    font-size: 16px;
    transition: font-size 0.3s linear;
}

@media screen and (max-width: 1460px){

    #timer-points-section{
        height: 100%;
        grid-column: 1 / 2;
        display: grid;
        grid-template-rows: 130px auto;
        font-size: 25px;
        font-family: futura;
        transition: font-size 0.3s linear;
    }
}

@media screen and (max-width: 1300px){
       #not-important > span {
        width: 80%;
        margin: 10px;
        font-style: italic;
        font-family: futura;
        font-size: 14px;
        transition: font-size 0.3s linear;
    }
}

@media screen and (max-width:1250px){
    #timer-section{
        background: rgba(255, 255, 255, 0.95);
        border-radius: 10px;
        width: 75%;
        height: 15%;
        max-height: 125px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width:1075px){
      #instruction-section ul > li > span{
        font-size: 10px;    
        display: block;
        margin: 5px 10px;
        font-size: 10px;
        font-family: fantasy;
        text-shadow: 2px 1px white;
        transition: all 0.3s linear;
    }

}

@media screen and (max-height: 850px) {
    #instruction-section > h2{
        font-weight: normal;
        font-size: 22px;
        font-family: futura;
        margin: 6px;
        overflow: initial;
        transition: all 0.3s linear;
    }
    
    #instruction-section ul > li > span{ 
        display: block;
        margin: 4px 8px;
        font-size: 11px;
        font-family: fantasy;
        text-shadow: 2px 1px white;
        transition: all 0.3s linear;
    }

}

@media screen and (max-height: 810px){
        #instruction-section > h2{
            font-weight: normal;
            font-size: 22px;
            font-family: futura;
            margin: 6px;
            overflow: initial;
            transition: all 0.3s linear;
        }

       #instruction-section ul > li > span{   
            display: block;
            margin: 1px 8px;
            font-size: 11px;
            font-family: fantasy;
            text-shadow: 2px 1px white;
            transition: all 0.3s linear;
    }


}